{%  extends "base.html"  %}
{%  set log = log %}
{% block title %}Cartelera de Estrenos
{% endblock %}
{% block head %}

{% endblock %}
{% block body %}

<div class="row">
    {% with path="/agregar_recetaa" %}
    {% include "menu.html" %}
    {% endwith %}
    <div class="col-lg-9 container my-5 text-center justify-content-center">
        
        {% if lista_clientes %}
<h3 class="mb-3">Agregar Nueva Receta</h3>
        <h5>Escoge el dueño de la mascota a la que harás la receta</h5>
        {% else %}
        <h3 class="mb-3">No hay clientes registrados</h3>
        <h5 class="mb-3">Para hacer una receta es necesario tener registrado al menos un cliente</h5>
        <a href="/agregar_usuario" class="btn boton_pie">Agregar cliente</a>
                    

                
        {% endif %}
        <div class="container-sm">
            {% if lista_clientes %}
            <form class="needs-validation" action="" method="POST">
                 <div class="input-group ">
                    <div class="input-group-prepend">
                        <label class="input-group-text" style="height: 3rem;"
                               for="id_duenio">Dueño</label>
                    </div>
                    <select class="custom-select form-select form-select-lg mb-3 form-floating"
                            aria-label=".form-select-lg example"
                            id="id_duenio" name="id_duenio" onchange="set_boton_link()">
                        {% for cliente in lista_clientes %}
                        <option value="{{cliente['id']}}">{{cliente['name']}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="contenedor_btns">
                    <a id="continuar" href="/agregar_receta/{{lista_clientes[0]['id']}}" class="btn boton_pie">Continuar</a>
<!--                    <input class="btn boton_pie" type="submit" name="enviar" value="Agregar Medicina"> <h6-->
<!--                        style="color: #0d6efc;font-size: 1.2rem;">{{mensaje}}</h6>-->
                </div>

            </form>


            {% endif %}
        </div>

    </div>
</div>
<script>
function set_boton_link() {
    var selectItem = document.getElementById('id_duenio').value;
     document.getElementById('continuar').href = "/agregar_receta/"+selectItem;

}
</script>

{% endblock %}
{% block footer %}
{% endblock %}