{% extends "base.html" %} {% set log = log %} {% block title %}Usuarios {% endblock %} {% block body %} {% include "navbar.html" %}


<div class="row">
    {% with path=request.path %} {% include "menu.html" %} {% endwith %}
    <div class="col-lg-8 container my-5 justify-content-center">
        <div class="table-responsive">
            <div class="d-flex mx-2 justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="">Usuarios</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <a href="/agregar_usuario" class="me-2 btn btn-sm btn-outline-secondary">Agregar usuario</a>
                </div>
            </div>
            <div class="col-auto mb-3 ">
                <input class="form-control " type="text " id="searchbox" onkeyup="buscar( 'searchbox', 'table') " placeholder="Buscar... ">
            </div>
            <table id="table" class="table table-hover">
                <thead class="table-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Username</th>
                        <th scope="col">Type</th>
                        <th scope="col">Modificar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for usuario in lista_usuarios %}
                        <th scope="row">{{usuario['id']}}</th>
                        <td>{{usuario['name']}}</td>
                        <td>{{usuario['email']}}</td>
                        <td>{{usuario['username']}}</td>
                        <td>{{usuario['type']}}</td>
                        <td><a href="/mod_usuario/{{usuario['username']}}"><i class="fa-solid fa-pen-to-square"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- <h3 class="">Lista De Usuarios</h3>
        <ul class="listado">
            {% for usuario in lista_usuarios %}
            <li class="elemento_lista">{{usuario['name']}} | <a href="/mod_usuario/{{usuario['username']}}" class="elemento_lista">Editar usuario</a></li>
            {% endfor %}
        </ul>
        <div class="contenedor_btns">
            <a href="/agregar_usuario" class="btn boton_pie">Agregar Usuario</a>
        </div> -->
    </div>
</div>
<!-- <div class="contenido">
    <h3 class="titulo">Lista De Usuarios</h3>
    <div class="contenedor_main">
        <div >
    <div class="contenedor_accesos">
        <ul class="list-group">
            {% for link,nombre in accesos.items() %}
            {% if nombre=='Usuarios' %}
            <a href="{{link}}">
                <li class="list-group-item active no-border elemento_accesos" aria-current="true">{{nombre}}</li>
            </a>
            {% else %}
            <a href="{{link}}">
                <li class="list-group-item no-border elemento_accesos" aria-current="true">{{nombre}}</li>
            </a>
            {% endif %}
            {% endfor %}
        </ul>
    </div></div>
    <div class="contenedor_info">
        <ul class="listado">
            {% for usuario in lista_usuarios %}
            <li class="elemento_lista">{{usuario['name']}} | <a href="/mod_usuario/{{usuario['username']}}" class="elemento_lista">Editar usuario</a></li>
            {% endfor %}
        </ul>
        <div class="contenedor_btns">
            <a href="/agregar_usuario" class="btn boton_pie">Agregar Usuario</a>
        </div>
    </div>
</div>
</div> -->


{% endblock %} {% block footer %} {% endblock %}