@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
html,
body {
    font-family: 'Open Sans';
    font-size: 15px;
    line-height: 1.5;
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: darkgray;
    font-weight: 300;
}

h1 {
    font-family: 'Open Sans';
    font-weight: 700;
    color: #94bcf3;
    font-size: 1.7rem;
}

a:hover {
    color: #aacbfa;
    transition: all .4s ease-in-out;
}

h2 {
    font-weight: 300;
}

p {
    font-size: 13pt;
    text-align: justify;
}

.no-border {
    border: 0;
}

.navbar {
    padding: 1rem 2rem;
    height: 0rem;
    min-height: 83px;
    box-shadow: 2px 1px 3px 0px darkgray;
}

.navbar .navbar-brand a {
    padding: 1rem 0;
    display: block;
    text-decoration: none;
}

.image {
    height: 600px;
}

.carousel-item:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
}

.carousel-caption {
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

.image img {
    width: 100%;
    height: 100% !important;
    object-fit: cover;
}

.navbar-brand {
    font-family: 'Comfortaa';
    font-size: 2rem;
    color: #aacbfa !important;
}

.navbar-brand img {
    margin-top: -7px;
}

.navbar-toggler {
    background-color: white;
    border: none;
    padding: 10px 6px;
    outline: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler span {
    display: block;
    width: 22px;
    height: 2px;
    border: 10px;
    background-color: #aacbfa;
}

.navbar-toggler span+span {
    margin-top: 4px;
    width: 22px;
}

.navbar-toggler span+span+span {
    width: 22px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem 1rem;
    font-size: 1rem;
    background-color: white;
    position: relative;
}

.navbar-nav button {
    padding: 1.2rem 0;
}

.navbar-nav .btn {
    background-color: #aacbfa;
    color: white;
    border-radius: 15px;
    font-weight: 500;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    margin-left: 20px;
}

.navbar-nav .btn:hover {
    background-color: #6398e3;
}

.body_login {
    background: #E8CBC0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #636FA4, #E8CBC0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #636FA4, #E8CBC0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fondo_login {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login {
    margin: -5% 5% 5% 5%;
    border-radius: 24px 24px 24px 24px;
    -moz-border-radius: 24px 24px 24px 24px;
    -webkit-border-radius: 24px 24px 24px 24px;
    border: 0px solid #000000;
    background-color: #ffffff;
    padding: 3rem 5rem;
}

.form_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boton_login {
    background-color: #C0CDF1;
    color: #000000;
    padding: 0.7rem 3rem;
    font-size: 1.1rem;
}

.boton_login:hover {
    background-color: #7e95d5;
    color: white;
}

.campo_login {
    margin: 1%;
}

.label_login {
    text-align: start;
    font-size: 1.2rem;
}

.input_login {
    background-color: #c0cdf1;
    border: 0px;
    border-radius: 5px;
    font-size: 1rem;
    width: 20rem;
    height: 3rem;
    transition: all 0.4s ease-in-out;
}

.contenedor_campo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.olvide_contrasenia {
    font-size: 15px;
    color: black;
}

.olvide_contrasenia:hover {
    color: #010181;
    text-decoration: underline;
    transition: all 0.2s ease-in-out;
}

.contenedor_logo {
    padding: 1.5rem;
}

.logo {
    font-family: 'Comfortaa';
    font-size: 2rem;
    color: #aacbfa !important;
}

.contenedor_main {
    display: flex;
    justify-content: space-around;
}


/*.contenedor_accesos{*/


/*padding:  2rem 3rem ;*/


/*}*/

.contenido {
    background: #E8CBC0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #636FA4, #E8CBC0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #636FA4, #E8CBC0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
}

#titulo {
    font-size: 2rem;
    color: #7e95d5;
    font-weight: 400;
}

.contenedor_accesos {
    padding: 1rem;
    -webkit-box-shadow: 10px 10px 48px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 48px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 48px -1px rgba(0, 0, 0, 0.75);
    border-radius: 34px 34px 34px 34px;
    -moz-border-radius: 34px 34px 34px 34px;
    -webkit-border-radius: 34px 34px 34px 34px;
    background-color: white;
    display: inline-block;
}

.contenedor_info {
    border: 3rem solid #b9b8fb;
    border-radius: 34px 34px 34px 34px;
    -moz-border-radius: 34px 34px 34px 34px;
    -webkit-border-radius: 34px 34px 34px 34px;
    -webkit-box-shadow: 10px 10px 48px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 48px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 48px -1px rgba(0, 0, 0, 0.75);
    width: calc(70%);
    background-color: #b9b8fb;
}


/*.listado{*/


/*    padding: 3rem;*/


/*}*/

.elemento_lista {
    color: black;
    font-size: 1.1rem;
}

.boton_pie {
    background-color: #aacbfa;
    color: black;
    padding: 0.7rem 1rem;
    font-size: 1.1rem;
    font-weight: 300;
}

.boton_pie:hover {
    background-color: #6583AD;
    color: white;
    transition: all 0.4s ease-in-out;
}

.contenedor_btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .nav-item:hover .nav-link {
    color: #a9caf9;
}

.dropdown-menu {
    background-color: white;
    border-top: 0px;
    font-size: 1rem;
}

.dropdown-item {
    color: darkgrey;
    margin: 3px 0;
}

.dropdown-item:hover {
    background-color: #c0cdf154 !important;
    color: #6398e3;
    transition: all .3s ease-in-out;
}

a .cards {
    background-color: #c7defc !important;
    margin: 35px;
    padding: 20px 15px 30px 15px;
    border-radius: 30px;
}

a:hover .cards {
    background-color: #aacbfa !important;
    transition: all 0.4s ease-in-out;
}

.box {
    background-color: white !important;
    box-shadow: 1px 1px 10px #6583ad3d;
    border-radius: 30px;
    padding: 20px;
    margin: 30px;
}

.box i {
    font-size: 1rem;
    margin-left: 20px;
    margin-right: 15px;
    color: #6583AD;
}

.box p {
    font-size: 1.2rem;
    margin-right: 20px;
}

.box h5 {
    font-size: 1.5rem;
    text-align: center;
    color: #6583AD;
    font-weight: 600;
}

.item {
    margin-top: 10px;
}

.x i {
    color: red;
    font-size: 1.2rem;
}

.x i:hover {
    color: rgb(81, 7, 7);
    transition: all 0.4s ease-in-out;
}

.item i {
    font-size: 3rem;
    font-weight: 900;
    padding: 1.5rem;
    color: #6398e3;
}

#servicios .item i {
    font-size: 3rem;
    font-weight: 900;
    padding: 1.5rem;
    color: #6398e3;
    border: 2px solid #6398e300;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
}

#servicios .item i:hover {
    background-color: #a9caf9;
    color: white;
}

div.dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    margin-top: 0;
}

div.dropdown-menu.fade-down {
    top: 80%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
}

div.dropdown-menu.fade-up {
    top: 180%;
}

a:hover .dropdown-menu {
    transition: .3s;
    opacity: 1;
    visibility: visible;
    top: 100%;
    transform: rotateX(0deg);
}

.sidebar-container {
    padding: 20px 0 0 2rem;
    height: 100%;
    min-height: 90vh;
    background-color: #C7DEFF !important;
}

h3 {
    color: #6398e3;
    margin-left: 10px;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 0px;
}

h5 {
    margin-left: 10px;
    color: #6583AD;
    font-size: 1.2rem;
}

.menu a {
    font-size: 1rem;
    color: #6583AD !important;
    height: 100%;
}

.menu a:hover {
    text-decoration: none;
    border-radius: 34px 0 0 34px;
    background-color: white;
    transition: background-color .4s ease-in-out;
}

.offcanvas-body .menu a:hover {
    background-color: rgba(0, 0, 0, .03);
    border-radius: 0;
    color: #94bcf3 !important;
    transition: all .4s ease-in-out;
}

.menu a .active {
    text-decoration: none;
    border-radius: 34px 0 0 34px;
    background-color: white;
}

td a {
    font-size: 1.5rem;
    color: #000000;
}

td a:hover {
    color: #94bcf3;
    transition: all 0.4s ease-in-out;
}

#content {
    display: inline-block;
}

.pie {
    color: #636FA4;
    font-size: 12pt;
    font-weight: 200;
}

.mapa-titulo {
    top: 110px;
    left: 0;
}

@media only screen and (max-width: 991px) {
    .navbar-nav .btn {
        border-radius: 0;
        padding: 1rem 1rem;
        margin-left: 0px;
        width: 100%;
        text-align: center;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        border-bottom: 1px solid rgba(0, 0, 0, .03);
    }
    .nav-link:hover {
        background-color: rgba(0, 0, 0, .03) !important;
        transition: all .3s ease-in-out;
    }
    .navbar-expand-lg .navbar-nav {
        padding: 5%;
        background-color: white;
    }
    .dropdown-menu {
        border: none;
    }
    .mapa-titulo {
        top: 60px;
        left: 0;
    }
}

@page {
    size: letter;
    margin: 1cm
}

@media print {}

* {
    scroll-behavior: smooth !important;
}