{% extends "base.html" %} {% set log = log %} {% block title %}Agendar cita {% endblock %} {% block body %} {% include "navbar.html" %}

<div class="row">
    {% with path=request.path %} {% include "menu.html" %} {% endwith %}
    <div class="col-lg-8 container my-5">
        <div class="d-flex mx-2 justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="">Agendar cita</h1>

        </div>
        <p class="text-muted mx-2" style="font-size: 1.2rem;">Selecciona el tipo de servicio para el que vas a agendar tu cita:</p>
        <div class="row text-center justify-content-center">
            <a class="col-7" href="/agendar/Veterinaria">
                <div class="cards item">
                    <i class="fa fa-solid fa-paw"></i>
                    <h3>Veterinaria</h3>
                    <p class="text-muted py-1 text-center">Agenda tu cita para hacerle un chequeo a tu mascota.</p>

                </div>
            </a>
            <a class="col-7" href="/agendar/Boutique">
                <div class="item cards ">
                    <i class="fa fa-solid fa-bath "></i>
                    <h3>Boutique</h3>
                    <p class="text-muted py-1 text-center">Agenda tu cita para uno de nuestros servicios de estética.</p>
                </div>
            </a>
        </div>
    </div>
</div>


{% endblock %} {% block footer %} {% endblock %}