{%  extends "base.html"  %}
{%  set log = log %}
{% block title %}Cartelera de Estrenos
{% endblock %}
{% block head %}

{% endblock %}
{% block body %}

<div class="row">
    {% with path=request.path %}
    {% include "menu.html" %}
    {% endwith %}
    <div class="col-lg-9 container my-5 justify-content-center">
        <div class="mx-5 table-responsive">
            <input class="form-control mb-2" type="text" id="searchbox" onkeyup="myFunction()"
                   placeholder="Buscar...">
            <table id="table" class="table table-hover">
                <thead class="table-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Dueño</th>
                    <th scope="col">Mascota</th>
                    <th scope="col">Tipo De Mascota</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Tipo de atencion</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    {% for cita in lista_citas %}
                    <th scope="row">{{cita['id']}}</th>
                    <td>{{cita['nombre_dueno']}}</td>
                    <td>{{cita['nombre_mascota']}}</td>
                    <td>{{cita['tipo_mascota']}}</td>
                    <td>{{cita['fecha']}}</td>
                    <td>{{cita['hora']}}</td>
                    <td>{{cita['atencion']}}</td>
                    <!--                <td><a href="/mod_usuario/{{usuario['username']}}" class="btn boton_pie">Modificar</a></td>-->
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="/agendar" class="btn boton_pie">Agendar Cita</a>
        </div>

        <!-- <h3 class="">Lista De Usuarios</h3>
        <ul class="listado">
            {% for usuario in lista_usuarios %}
            <li class="elemento_lista">{{usuario['name']}} | <a href="/mod_usuario/{{usuario['username']}}" class="elemento_lista">Editar usuario</a></li>
            {% endfor %}
        </ul>
        <div class="contenedor_btns">
            <a href="/agregar_usuario" class="btn boton_pie">Agregar Usuario</a>
        </div> -->
    </div>
</div>
<!-- <div class="contenido">
    <h3 class="titulo">Lista De Usuarios</h3>
    <div class="contenedor_main">
        <div >
    <div class="contenedor_accesos">
        <ul class="list-group">
            {% for link,nombre in accesos.items() %}
            {% if nombre=='Usuarios' %}
            <a href="{{link}}">
                <li class="list-group-item active no-border elemento_accesos" aria-current="true">{{nombre}}</li>
            </a>
            {% else %}
            <a href="{{link}}">
                <li class="list-group-item no-border elemento_accesos" aria-current="true">{{nombre}}</li>
            </a>
            {% endif %}
            {% endfor %}
        </ul>
    </div></div>
    <div class="contenedor_info">
        <ul class="listado">
            {% for usuario in lista_usuarios %}
            <li class="elemento_lista">{{usuario['name']}} | <a href="/mod_usuario/{{usuario['username']}}" class="elemento_lista">Editar usuario</a></li>
            {% endfor %}
        </ul>
        <div class="contenedor_btns">
            <a href="/agregar_usuario" class="btn boton_pie">Agregar Usuario</a>
        </div>
    </div>
</div>
</div> -->
<script>
    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue, j,count;

        input = document.getElementById("searchbox");
        filter = input.value.toLowerCase();
        table = document.getElementById("table");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            count = 0;

            for (j = 0; j < 6; j++) {
                td = tr[i].getElementsByTagName("td")[j];

                if (td) {
                    txtValue = td.textContent.toLowerCase() || td.innerText.toLowerCase();
                    if (txtValue.toLowerCase().indexOf(filter) > -1) {
                        // tr[i].style.display = "";
                    } else {

                            // tr[i].style.display = "none";
                        console.log(count);
                    }

                }

            }
            if (count===6){
                    tr[i].style.display = "none";
                }else{
                    tr[i].style.display = "";
                }
        }
    }
</script>


{% endblock %}
{% block footer %}
{% endblock %}