{% extends "base.html" %} {% set log = log %} {% block title %}Informe de ventas {% endblock %} {% block body %} {% include "navbar.html" %}


<body onload="tabla('{{data}}')">

    <!-- Template de la gráfica conseguido de Bootstrap -->

    <div class="row">
        {% with path=request.path %} {% include "menu.html" %} {% endwith %}
        <div class="col-lg-8 container my-5">
            <div class="d-flex mx-2 justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="">Informe de Ventas</h1>
                <form class="btn-toolbar mb-2 mb-md-0" , action="" , method="POST">
                    <button type="button" class="me-2 btn btn-sm btn-outline-secondary" onclick="download('Informe{{tipo}}{{date}}')">Exportar</button>

                    <div class="dropdown">
                        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                {{tipo}}
                </button>
                        <ul class="dropdown-menu fade-down" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="/informe_ventas/diaria">Diario</a></li>
                            <li><a class="dropdown-item" href="/informe_ventas/mensual">Mensual</a></li>
                            <li><a class="dropdown-item" href="/informe_ventas/rango">Rango</a></li>


                        </ul>
                    </div>
                </form>

            </div>
            <div class="row justify-content-between mx-2">
                <div class="col-6">
                    <form class="fechas_validation" action="" method="POST">
                        {% if tipo=='Diario'%}
                        <div class="form-floating mb-3">
                            <input type="date" class="form-control" id="validationServer04" required name="fecha" value="{{date}}">
                            <label for="validationServer04">Fecha</label>
                        </div>
                        <input class="campo_login btn boton_pie" type="submit" name="enviar" value="Enviar">

                    </form>
                    {% endif %} {% if tipo=='Rango'%} {% for message in get_flashed_messages() %}
                    <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" id="validationServer04" required name="desde" value="{{date_desde}}">
                        <label for="validationServer04">Desde</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" id="validationServer05" required name="hasta" , value="{{date_hasta}}">
                        <label for="validationServer04">Hasta</label>
                    </div>
                    <input class="campo_login btn boton_pie" type="submit" name="enviar" value="Enviar"> {% endif %} {% if tipo=="Mensual" %}
                    <div class="form-floating mb-3">
                        <input type="month" class="form-control" id="validationServer04" required name="mes" value="{{date}}">
                        <label for="validationServer04">Fecha</label>
                    </div>
                    <input class="campo_login btn boton_pie" type="submit" name="enviar" value="Enviar"> {% endif %}
                    </form>
                </div>
                <div class="col-3 ">
                    <div class="">

                        <input type="number" placeholder="Subtotal" class="form-control" id="subtotal" required min="0.00" value={{total_atenciones_subtotal}} name="subtotal" readonly>
                        <label class="form-label" for="subtotal">Subtotal</label>

                    </div>

                    <div class="">

                        <input type="number" placeholder="IVA" class="form-control " id="iva" min="0.00" value={{total_atenciones_iva}} required name="iva" readonly>
                        <label class="form-label" for="iva">IVA</label>

                    </div>

                    <div class="">

                        <input type="number" placeholder="Total" class="form-control " id="total" required min="0.00" value={{total_atenciones_total}} name="total" readonly>
                        <label class="form-label" for="total">Total</label>

                    </div>

                </div>
                <canvas class="my-4 w-100" id="myChart" width="900" height="380"> </canvas>

            </div>
            <div class="d-flex mx-2 justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

                <h4 class="">Atenciones</h4>

            </div>
            <div class="mx-2 table-responsive">
                <input class="form-control mb-2" type="text" id="searchbox2" onkeyup="buscar('searchbox2','reporte_{{tipo}}')" placeholder="Buscar...">

                <table id="Informe{{tipo}}{{date}}" class="table table-hover">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Servicio</th>
                            <th scope="col">Medicina</th>
                            <th scope="col">Subtotal</th>
                            <th scope="col">IVA</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for atencion in lista_atenciones %}
                            <th scope="row">{{atencion['id']}}</th>
                            <td>{{atencion['fecha']}}</td>
                            <td>
                                {% for servicio in lista_servicios %} {% if servicio['atencion_id'] == atencion['id']%}
                                <p>{{servicio['nombre']}} - {{servicio['precio']}}</p>
                                {% endif %} {% endfor %}
                            </td>
                            <td>
                                {% for medicina in lista_meds %} {% if medicina['atencion_id'] == atencion['id']%}
                                <p>{{medicina['nombre']}} - {{medicina['precio']}}</p>
                                {% endif %} {% endfor %}
                            </td>
                            <td>{{atencion['subtotal']}}</td>
                            <td>{{atencion['iva']}}</td>
                            <td>{{atencion['total']}}</td>


                        </tr>
                        {% endfor %}
                        <tr>
                            <th scope="col">Total</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col">{{total_atenciones_subtotal}}</th>
                            <th scope="col">{{total_atenciones_iva}}</th>
                            <th scope="col">{{total_atenciones_total}}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h4 class="mx-2 pt-3 pb-2 mb-3 border-bottom">Clientes nuevos</h4>
            <div class="mx-2 table-responsive">
                <input class="form-control mb-2" type="text" id="searchbox" onkeyup="buscar('searchbox','table')" placeholder="Buscar...">
                <table id="table" class="table table-hover">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Username</th>
                            <th scope="col">Modificar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for usuario in lista_usuarios %}
                            <th scope="row">{{usuario['id']}}</th>
                            <td>{{usuario['name']}}</td>
                            <td>{{usuario['email']}}</td>
                            <td>{{usuario['username']}}</td>
                            <td><a href="/mod_usuario/{{usuario['username']}}" class="btn boton_pie">Modificar</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>


    </div>


</body>
{% endblock %} {% block footer %} {% endblock %}