{%  extends "base.html"  %}
{%  set log = log %}
{% block title %}Informe de ventas
{% endblock %}

{% block body %}
{% include "navbar.html" %}


  <body onload="tabla();">

    <!-- Template de la gráfica conseguido de Bootstrap -->

		<div class="row">
			{% with path=request.path %}
			{% include "menu.html" %}
			{% endwith %}
			<div class="col-lg-8 container my-5 " >
      <div class="d-flex mx-2 justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Informe de Ventas</h1>

            <form class="btn-toolbar mb-2 mb-md-0", action="", method="POST">
              <button type="button" class="me-2 btn btn-sm btn-outline-secondary" >Exportar</button>

                <div class="dropdown">
                <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                {{tipo}}
                </button>
                  <ul class="dropdown-menu fade-down" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="/informe_ventas/diaria">Diario</a></li>
                    <li><a class="dropdown-item" href="/informe_ventas/mensual">Mensual</a></li>
                    <li><a class="dropdown-item" href="/informe_ventas/rango">Rango</a></li>


                  </ul>
                </div>
            </form>

        </div>
          <div class="row justify-content-between mx-2">
            <div class="col-6">
                <form class="fechas_validation" action="" method="POST">
                {% if bandera_rango == False and bandera_mes == False%}
                <div class="form-floating mb-3">
                    <input type="date" class="form-control"  id="validationServer04" required name="desde" readonly
                           , value="{{today}}">
                    <label for="validationServer04">Desde</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="validationServer05" required name="hasta" readonly
                           , value="{{today}}">
                    <label for="validationServer04">Hasta</label>
                </div>
                </form>
                {% endif %}
                {% if bandera_rango == True and bandera_mes == False%}
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="validationServer04" required name="desde"
                           value="{{date_desde}}">
                    <label for="validationServer04">Desde</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="validationServer05" required name="hasta"
                           , value="{{date_hasta}}">
                    <label for="validationServer04">Hasta</label>
                </div>
                <input class="campo_login btn boton_login" type="submit" name="enviar" value="Enviar">

                {% endif %}
                <h3>{{mensaje}}</h3>

                {% if bandera_rango == False and bandera_mes == True %}
                 <div class="form-floating mb-3">
                    <input type="month" class="form-control" id="validationServer04" required name="mes"
                           value="{{date_today}}">
                    <label for="validationServer04">Mes</label>
                </div>
                <br>
                <input class="campo_login btn boton_login" type="submit" name="enviar" value="Enviar">
                {% endif %}
            </form>
          </div>
          <div class="col-3 ">
            <div class="">

              <input type="number" placeholder="Subtotal"
                     class="form-control" id="subtotal" required min="0.00" value={{total_atenciones_subtotal}} name="subtotal" readonly>
              <label class="form-label" for="subtotal">Subtotal</label>
  
          </div>
  
          <div class="">
  
              <input type="number" placeholder="IVA"
                     class="form-control " id="iva" min="0.00" value={{total_atenciones_iva}} required name="iva" readonly>
              <label class="form-label" for="iva">IVA</label>
  
          </div>
  
          <div class="">
  
              <input type="number" placeholder="Total"
                     class="form-control " id="total" required min="0.00" value={{total_atenciones_total}} name="total" readonly>
              <label class="form-label" for="total">Total</label>
  
          </div>

        </div>
        <canvas class="my-4 w-100" id="myChart" width="900" height="380"> </canvas>


        </div>
        
      <h4 class="mx-2 pt-3 pb-2 mb-3 border-bottom">Clientes nuevos</h4>
        <div class="mx-2 table-responsive">
            <input class="form-control mb-2" type="text" id="searchbox" onkeyup="buscar();"
                   placeholder="Buscar...">
            <table id="table" class="table table-hover">
                <thead class="table-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Username</th>
                    <th scope="col">Modificar</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    {% for usuario in lista_usuarios %}
                    <th scope="row">{{usuario['id']}}</th>
                    <td>{{usuario['name']}}</td>
                    <td>{{usuario['email']}}</td>
                    <td>{{usuario['username']}}</td>
                    <td><a href="/mod_usuario/{{usuario['username']}}" class="btn boton_pie">Modificar</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>



        <h4 class="mx-2 pt-3 pb-2 mb-3 border-bottom">Atenciones</h4>
            <div class="mx-2 table-responsive">
                <input class="form-control mb-2" type="text" id="searchbox2" onkeyup="buscar();"
                       placeholder="Buscar...">

                <table id="table2" class="table table-hover">
                    <thead class="table-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Mascota</th>
                        <th scope="col">Tipo de mascota</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Subtotal</th>
                        <th scope="col">IVA</th>
                        <th scope="col">Total</th>
                        <th scope="col">Servicio</th>
                        <th scope="col">Costo de servicio</th>
                        <th scope="col">Medicina</th>
                        <th scope="col">Costo Medicina</th>
                        <th scope="col">Presentación</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% for atencion in lista_atenciones %}
                        <th scope="row">{{atencion['id']}}</th>
                        <td>{{atencion['fecha']}}</td>
                        <td>{{atencion['cliente']}}</td>
                        <td>{{atencion['nombre_mascota']}}</td>
                        <td>{{atencion['tipo_mascota']}}</td>
                        <td>{{atencion['descripcion']}}</td>
                        <td>{{atencion['subtotal']}}</td>
                        <td>{{atencion['iva']}}</td>
                        <td>{{atencion['total']}}</td>
                        {% for serv in lista_servicios %}
                        <td>{{serv['nombre']}}</td>
                        <td>{{serv['precio']}}</td>
                        {% endfor %}
                        {% for med in lista_meds %}
                        {% if med['atencion_id'] == atencion['id']%}

                        <td>{{med['nombre']}}</td>
                        <td>{{med['precio']}}</td>
                        <td>{{med['presentacion']}}</td>
                        {% endif %}
                        {% endfor %}


                    </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                                                <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{total_atenciones_subtotal}}</td>
                        <td>{{total_atenciones_iva}}</td>
                        <td>{{total_atenciones_total}}</td>


                    </tr>
                    </tbody>
                </table>
            </div>
            </div>
            </div>

            
</body>
{% endblock %}
{% block footer %}
{% endblock %}