{% extends "base.html" %} {% set log = log %} {% block title %}Olvidar contraseña{% endblock %} {% block body %}

<body class="body_login">

    <div class="contenedor_logo">
        <a class="logo" href="/"><img class="me-1" src="/static/logo.svg" width="40" height="36" alt="logo">PetVet</a>
    </div>

    <div class="fondo_login">


        <div class="login">
            <form class="form_login" action="" method="POST">
                <h1 class="mb-3" id="titulo">Forgot Password</h1>

                {% for message in get_flashed_messages() %}
                <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                <label class="my-2 label_login" for="validationDefault01">Coloque su correo electrónico o su nombre de usuario:</label>
                <input class="form-control campo_login input_login" type="text" id="validationDefault01" name="email" required><br>
                <input class="campo_login btn boton_login" type="submit" name="enviar" value="Enviar">
                <br>

            </form>
        </div>
    </div>
</body>
{% endblock %} {% block footer %} {% endblock %}