{%  extends "base.html"  %}
{%  set log = log %}
{% block title %}Cartelera de Estrenos
{% endblock %}
{% block head %}

{% endblock %}
{% block body %}

<div class="contenido">
    <h3 class="titulo">Agendar Cita</h3>
        <div class="contenedor_info">
            <form class="needs-validation" action="" method="POST">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="validationServer01"  {% if type=='cliente' %} value={{dicc_usuario['email']}} disabled {% endif %} required placeholder="name@example.com" name="email">
                    <label for="validationServer01">Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="validationServer02" {% if type=='cliente' %} value={{dicc_usuario['nombre']}} disabled {% endif %} required  placeholder="Nombre del dueño" name="nombre">
                    <label for="validationServer02">Nombre</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text"class="form-control" id="validationServer03" required placeholder="Nombre de mascota" name="mascota">
                    <label for="validationServer03">Mascota</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="validationServer04" required placeholder="Seleccionar fecha" name="fecha">
                    <label for="validationServer04">Fecha</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="time" class="form-control" id="validationServer04" required placeholder="Seleccionar hora" name="hora">
                    <label for="validationServer04">Hora</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="validationServer04" required placeholder="Servicio" name="servicio">
                    <label for="validationServer04">Servicio</label>
                </div>
                <div class="contenedor_btns">
                    <input class="btn boton_pie" type="submit" name="enviar" value="agendar"> <h6 style="color: #0d6efc;font-size: 1.2rem;">{{mensaje}}</h6>
        </div>
            </form>
        </div>

    </div>
</div>


{% endblock %}
{% block footer %}
{% endblock %}