{%  extends "base.html"  %}
{%  set log = log %}
{% block title %}Cartelera de Estrenos
{% endblock %}
{% block head %}

{% endblock %}
{% block body %}

<div class="contenido">
    <h3 class="titulo">Agregar Nuevo Usuario</h3>
    <div class="contenedor_main">
        <div>
            <div class="contenedor_accesos">
                <ul class="list-group">
                    {% for link,nombre in accesos.items() %}
                    {% if nombre=='Usuarios' %}
                    <a href="{{link}}">
                        <li class="list-group-item active no-border elemento_accesos" aria-current="true">{{nombre}}
                        </li>
                    </a>
                    {% else %}
                    <a href="{{link}}">
                        <li class="list-group-item no-border elemento_accesos" aria-current="true">{{nombre}}</li>
                    </a>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="contenedor_info">
            <form class="needs-validation" action="" method="POST">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="validationServer01"  required placeholder="name@example.com" name="email">
                    <label for="validationServer01">Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="validationServer02" required  placeholder="Password" name="password">
                    <label for="validationServer02">Contraseña</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text"class="form-control" id="validationServer03" required placeholder="Nombre" name="nombre">
                    <label for="validationServer03">Nombre</label>
                </div>
                <select class="form-select form-select-lg mb-3 form-floating" aria-label=".form-select-lg example" id="tipo" name="tipo">

                    <option value="1">Administrador</option>
                    <option value="2">Usuario</option>
                    <option value="3">Cliente</option>
                </select>
                <div class="contenedor_btns">
                    <input class="btn boton_pie" type="submit" name="enviar" value="Crear Usuario"> <h6 style="color: #0d6efc;font-size: 1.2rem;">{{mensaje}}</h6>
        </div>
            </form>
        </div>

    </div>
</div>


{% endblock %}
{% block footer %}
{% endblock %}