{% extends "base.html" %} {% set log = log %} {% block title %}Dashboard{% endblock %} {% block body %} {% include "navbar.html" %}

<div class="row">
    {% with path=request.path %} {% include "menu.html" %} {% endwith %}
    <div class="col-lg-9 container my-2 table-responsive">
        <div class="my-5 mx-5 text-end">
            <h1>Hola, {{usr['name']}}</h1>
            <h3 style="color: black;">Bienvenido al sistema de veterinaria PetVet</h3>
            <h5 style="color: black;">Estás logeado como: {{usr['type']}}</h5>

        </div>
        <div class="text-center me-4">
            <img src="/static/pictures/welcome.png" width="100%"><br>
            <a href='https://www.freepik.com/vectors/dog-walker'>Dog walker vector created by pch.vector - www.freepik.com</a>
        </div>
    </div>
</div>


{% endblock %} {% block footer %} {% endblock %}