{% extends "base.html" %} {% set log = log %} {% block title %}Inicio {% endblock %} {% block body %} {% include "navbar.html" %}


<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="" aria-current="true"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item image active">
            <img class="d-block w-100" src="/static/pictures/hospital.jpeg">
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1 class="logo" style="font-size: 5rem;">PetVet

                    </h1>
                    <h2>Tu veterinaria de confianza</h2>
                </div>
            </div>
        </div>
        <div class="carousel-item image">
            <img class="d-block w-100" src="/static/pictures/doctor-testing-animal-with-stethoscope.jpg">
            <div class="container">
                <div class="carousel-caption">
                    <h1 style="font-size: 3rem; color: white; font-weight: 200;">Siempre buscando lo mejor para tu mascota

                    </h1>
                </div>
            </div>
        </div>
        <div class="carousel-item image">
            <img class="d-block w-100" src="/static/pictures/close-up-hand-holding-dog-paw.jpg">

            <div class="container">
                <div class="carousel-caption">
                    {% if logged=='yes' %}
                    <h1 style="font-size: 3rem; color: white; font-weight: 200;">Agenda tu próxima cita!

                    </h1>
                    <a class="btn btn-lg btn boton_pie" href="/agendar">Ir a Agendar Cita</a> {% else %}
                    <h1 style="font-size: 3rem; color: white; font-weight: 200;">Únete para formar parte de la comunidad

                    </h1>

                    <a class="btn btn-lg btn boton_pie me-3" href="/login">Iniciar sesión</a><a class="btn btn-lg btn boton_pie" href="/signup">Registrarse</a> {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Marketing messaging and featurettes
    ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing mx-auto">
    <!-- Three columns of text below the carousel -->
    <div id="servicios" class="row my-5 justify-content-center text-center">
        <div class="col-lg-4 item">
            <i class="fa fa-solid fa-paw"></i>
            <h2>Chequeo</h2>
            <p class="mx-4">Como dueños de mascotas siempre tiene que ser una prioridad mantener a nuestras mascotas felices y saludables.</p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4 item">
            <i class="fa fa-solid fa-bath "></i>
            <h2>Baño</h2>
            <p class="mx-4">Tener a tu mascota limpia regularmente, puede proveer mucho a su salud. Además en Petvet ofrecemos baños especializados para pacientes con específica dermatología.</p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4 item">
            <i class="fa-solid fa-syringe"></i>
            <h2>Vacunas</h2>
            <p class="mx-4">Las vacunas son una parte fundamental para mantener a tu mascota sana y protegida ante enfermedades, donde algunas pueden ser letales. </p>
        </div>
        <div class="col-lg-4 item">
            <i class="fa-regular fa-hospital"></i>
            <h2>Hospital</h2>
            <p class="mx-4">Como dueño de una mascota, quieres que tu amiguito reciba la mejor atención posible. Petvet esta capacitado con los mejores profesionales, medicinas y con la mejor tecnología para mantener a salvo tu mascota. </p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4 item">
            <i class="fa-solid fa-bed"></i>
            <h2>Hotel</h2>
            <p class="mx-4">Si tienes que salir de la ciudad o no vas a poder darle una atención a tu mascota, no te preocupes. Petvet puede alojar a tu amiguito hasta que vuelvas.</p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4 item">
            <i class="fa-solid fa-scissors"></i>
            <h2>Estética</h2>
            <p class="mx-4">El peinado, el control de uñas y limpieza de oidos son piezas importantes y necesarias que contribuyen a una buena salud, además de un mejor estilo de vida.</p>
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr id="about-us" class="featurette-divider">

    <div class="row featurette my-5 align-items-center">
        <div class="col-md-7">
            <h2 class="featurette-heading logo">SOBRE NOSOTROS</h2>
            <p class="lead">PetVet es una empresa en la localidad de Hermosillo, Sonora, México de alta especialidad con máxima tecnología para la atención médica veterinaria y también servicios estéticos especializados para su mascota.
            </p>
            <br>
            <p class="lead">Usted podrá tener la tranquilidad de que su mascota estará cuidada por un equipo de médicos veterinarios especialistas que después de la carrera de veterinaria, han realizado una especialidad en medicina y cirugía de distintos tipos de animales.
            </p>
        </div>
        <div class="col-md-5">

            <img src="/static/pictures/vet.jpeg" height="350px" width="500px" style="border-radius: 10px;">
        </div>
    </div>
    <!-- /END THE FEATURETTES -->

</div>
<!-- /.container -->
<section class="position-relative">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#AACBFA" fill-opacity="1" d="M0,32L48,42.7C96,53,192,75,288,90.7C384,107,480,117,576,138.7C672,160,768,192,864,202.7C960,213,1056,203,1152,176C1248,149,1344,107,1392,85.3L1440,64L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>    </div>
    <div class="d-flex justify-content-center align-items-center position-absolute w-100 h-100 p-3 mapa-titulo">
        <h1 class="" style="color: #6583AD; font-size: 2rem;">Encuéntranos!</h1>


    </div>



</section>
<div class="position-relative py-5" style="background-color: #AACBFA; z-index: -1;">
    <iframe class="" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13947.195740787882!2d-110.99292503022464!3d29.082085900000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86ce8412dace46a5%3A0x90f112404c070809!2sCENTRO%20VETERINARIO%20HERMOSILLO!5e0!3m2!1ses!2smx!4v1651873757716!5m2!1ses!2smx"
        width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div> {% endblock %} {% block footer %}
<div class="d-flex justify-content-between" style="background-color: #AACBFA;">


    <p class="align-text-bottom pie ms-4">© 2022 PetVet Veterinaria

    </p>
    <div>
        <a href="#"><i class="pie bi bi-facebook me-2"></i></a>
        <a href="#"><i class="pie bi bi-twitter me-2"></i></a>
        <a href="#"><i class="pie bi bi-instagram me-4"></i></a>

    </div>
</div>{% endblock %}