{%  extends "base.html"  %}
{%  set log = log %}
{% block title %}Cartelera de Estrenos
{% endblock %}
{% block head %}

{% endblock %}
{% block body %}

<div class="contenido">
    <h3 class="titulo">Lista De Usuarios</h3>
    <div class="contenedor_main">
        <div >
    <div class="contenedor_accesos">
        <ul class="list-group">
            {% for link,nombre in accesos.items() %}
            {% if nombre=='Usuarios' %}
            <a href="{{link}}">
                <li class="list-group-item active no-border elemento_accesos" aria-current="true">{{nombre}}</li>
            </a>
            {% else %}
            <a href="{{link}}">
                <li class="list-group-item no-border elemento_accesos" aria-current="true">{{nombre}}</li>
            </a>
            {% endif %}
            {% endfor %}
        </ul>
    </div></div>
    <div class="contenedor_info">
        <ul class="listado">
            {% for id, dicc in lista_usuarios.items() %}
            <li class="elemento_lista">{{dicc['nombre']}} | <a href="/mod_usuario/{{id}}" class="elemento_lista">Editar usuario</a></li>
            {% endfor %}
        </ul>
        <div class="contenedor_btns">
            <a href="/agregar_usuario" class="btn boton_pie">Agregar Usuario</a>
        </div>
    </div>
</div>
</div>



{% endblock %}
{% block footer %}
{% endblock %}