{%  extends "base.html"  %}
{%  set log = log %}
{% block title %}Cartelera de Estrenos
{% endblock %}
{% block head %}

{% endblock %}
{% block body %}

<div class="contenido">
    <h3 class="titulo">Modificar Usuario</h3>
    <div class="contenedor_main">
        <div>
            <div class="contenedor_accesos">
                <ul class="list-group">
                    {% for link,nombre in accesos.items() %}
                    {% if nombre=='Usuarios' %}
                    <a href="{{link}}">
                        <li class="list-group-item active no-border elemento_accesos" aria-current="true">{{nombre}}
                        </li>
                    </a>
                    {% else %}
                    <a href="{{link}}">
                        <li class="list-group-item no-border elemento_accesos" aria-current="true">{{nombre}}</li>
                    </a>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="contenedor_info">
            <form class="needs-validation" action="" method="POST">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="disabledInput" name="email1" value="{{dicc_usuario['email']}}" disabled>
                    <label for="disabledInput">Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="username" name="username" value="{{dicc_usuario['username']}}">
                    <label for="username">Username</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password" name="password" >
                    <label for="password">Contraseña</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text"class="form-control" id="validationServer03" required placeholder="Nombre" name="nombre" value="{{dicc_usuario['name']}}">
                    <label for="validationServer03">Nombre</label>
                </div>
                <select class="form-select form-select-lg mb-3 form-floating" aria-label=".form-select-lg example" id="tipo" name="tipo">

                    <option value="admin" {% if dicc_usuario['type']=='admin' %}selected{% endif %} >Administrador</option>
                    <option value="usuario" {% if dicc_usuario['type']=='usuario' %}selected{% endif %} >Usuario</option>
                    <option value="cliente" {% if dicc_usuario['type']=='cliente' %}selected{% endif %} >Cliente</option>
                </select>
                <div class="contenedor_btns">
                    <input class="btn boton_pie" type="submit" name="enviar" value="Guardar Cambios"> <h6 style="color: #0d6efc;font-size: 1.2rem;">{{mensaje}}</h6>
        </div>
            </form>
        </div>

    </div>
</div>


{% endblock %}
{% block footer %}
{% endblock %}