{%  extends "base.html"  %}
{%  set log = log %}
{% block title %}Historial de atenciones
{% endblock %}

{% block body %}
{% include "navbar.html" %}

<div class="row">
    {% with path=request.path %}
    {% include "menu.html" %}
    {% endwith %}
    <div class="col-lg-9 container my-5 justify-content-center">
        <div class="mx-5 table-responsive">
            <input class="form-control mb-3" type="text" id="searchbox" onkeyup="buscar()"
                   placeholder="Buscar...">
            <table id="table" class="table table-hover">
                <thead class="table-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Mascota</th>
                    <th scope="col">Tipo de mascota</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Subtotal</th>
                    <th scope="col">IVA</th>
                    <th scope="col">Total</th>
                    <th scope="col">Servicios</th>
                    <th scope="col">Medicinas</th>
                    <!--                    <th scope="col">Servicio</th>-->
                    <!--                    <th scope="col">Costo de servicio</th>-->
                    <!--                    <th scope="col">Medicina</th>-->
                    <!--                    <th scope="col">Costo Medicina</th>-->
                    <!--                    <th scope="col">Presentación</th>-->
                    <th scope="col">PDF</th>


                </tr>
                </thead>
                <tbody>
                <tr>
                    {% for atencion in lista_atenciones %}
                    <th scope="row">{{atencion['id']}}</th>
                    <td>{{atencion['fecha']}}</td>
                    <td>{{atencion['cliente']}}</td>
                    <td>{{atencion['nombre_mascota']}}</td>
                    <td>{{atencion['tipo_mascota']}}</td>
                    <td>{{atencion['descripcion']}}</td>
                    <td>{{atencion['subtotal']}}</td>
                    <td>{{atencion['iva']}}</td>
                    <td>{{atencion['total']}}</td>
                    {% if lista_servicios %}
                    <td><a onclick="solo_desplegar_uno('servicios{{atencion['id']}}')" class="btn btn-primary"
                        data-bs-toggle="collapse" href="#servicios{{atencion['id']}}"
                        role="button"
                        aria-expanded="false" aria-controls="collapseExample">
                        Ver Servicios
                        </a></td>
                    {% else %}
                    <td>Ningún Servicio</td>

                    {% endif %}


                    {% if lista_meds %}
                    <td><a onclick="solo_desplegar_uno('medicinas{{atencion['id']}}')" class="btn btn-primary"
                        data-bs-toggle="collapse" href="#medicinas{{atencion['id']}}"
                        role="button"
                        aria-expanded="false" aria-controls="collapseExample">


                        Ver Medicinas
                        </a></td>
                    {% else %}
                    <td>Ninguna Medicina</td>

                    {% endif %}
                    <!--                    {% for serv in lista_servicios %}-->
                    <!--                    <td>{{serv['nombre']}}</td>-->
                    <!--                    <td>{{serv['precio']}}</td>-->
                    <!--                    {% endfor %}-->
                    <!--                    {% for med in lista_meds %}-->
                    <!--                    {% if med['atencion_id'] == atencion['id']%}-->

                    <!--                    <td>{{med['nombre']}}</td>-->
                    <!--                    <td>{{med['precio']}}</td>-->
                    <!--                    <td>{{med['presentacion']}}</td>-->
                    <!--                    {% endif %}-->
                    <!--                    {% endfor %}-->
                    <!--                    <p>-->
                    <!--                        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button"-->
                    <!--                           aria-expanded="false" aria-controls="collapseExample">-->
                    <!--                            Link with href-->
                    <!--                        </a>-->

                    <!--                    </p>-->


                    <td><a href="#" class="btn boton_pie">Descargar PDF</a></td>


                </tr>
                {% endfor %}
                </tbody>

            </table>
            {% for atencion in lista_atenciones %}
            <div class="collapse" id="servicios{{atencion['id']}}">
                <div class="card card-body">

                    <table id="table1" class="table table-hover">
                        <thead class="table-light">
                        <tr>
                            <th scope="col">Servicio</th>
                            <th scope="col">Costo de servicio</th>


                        </tr>
                        </thead>
                        <tbody>
                        {% for serv in lista_servicios %}
                        <tr>


                            {% if serv['atencion_id'] == atencion['id']%}
                            <td>{{serv['nombre']}}</td>
                            <td>{{serv['precio']}}</td>
                            {% endif %}


                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>


                </div>
            </div>

            <div class="collapse" id="medicinas{{atencion['id']}}">
                <div class="card card-body">

                    <table id="table2" class="table table-hover">
                        <thead class="table-light">
                        <tr>

                            <th scope="col">Medicina</th>
                            <th scope="col">Costo de Medicina</th>
                            <th scope="col">Presentacion</th>


                        </tr>
                        </thead>
                        <tbody>
                        <tr>


                            {% for med in lista_meds %}
                            {% if med['atencion_id'] == atencion['id']%}

                            <td>{{med['nombre']}}</td>
                            <td>{{med['precio']}}</td>
                            <td>{{med['presentacion']}}</td>
                            {% endif %}
                            {% endfor %}

                        </tr>

                        </tbody>
                    </table>


                </div>
            </div>

            {% endfor %}
            {% if session['type']!='cliente' %}
            <a href="/agregar_atencion" class="btn boton_pie">Agregar atencion</a>
            {% endif %}
        </div>


    </div>
</div>


{% endblock %}
{% block footer %}
<script>
    function solo_desplegar_uno(id) {
        // Declare variables
        var tabla_recetas, num_tr, div_medicinas, div_servicios;
        tabla_recetas = document.getElementById("table");
        num_tr = tabla_recetas.getElementsByTagName("tr").length  ;
        console.log("El id es:"+ id)
        for (let k = 1; k < num_tr; k++) {
            div_medicinas = document.getElementById("medicinas"+k);
            div_servicios = document.getElementById("servicios"+k);
            if ("medicinas"+k === id) {
                if (div_medicinas.className === 'collapse'){
                                    div_medicinas.className = "collapse show";

                }else{
                    div_medicinas.className = "collapse";
                }
            } else {
                div_medicinas.className = "collapse";
            }
            if ("servicios"+k === id) {
                if (div_servicios.className === 'collapse'){
                                    div_servicios.className = "collapse show";

                }else{
                    div_servicios.className = "collapse";
                }
            } else {
                div_servicios.className = "collapse"
            }

            // div_servicios.style.display = "none";
            // div_medicinas.style.display = "none";
        }




    }
</script>
{% endblock %}